@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Explora&family=Poiret+One&display=swap');

.menu {
    width: 100%;
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #242424;
}

.menu .menuTitle {
    font-size: 70px;
    margin-top: 20px;
    color: whitesmoke;
    font-family: 'Explora', cursive;

}

.menu .menuList {
    width: 80vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 20px;
    padding: 60px 0;
    font-family: 'Poiret One', cursive;

}

.menu .menuList .menuItem {
    text-align: center;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    min-height: 500px;
    margin-bottom: 30px;
    transition: 0.5s ease; 
    color: white;
    width: 300px;
    position: relative;
    transition: 1s all linear;
    z-index: 10;
}

.menu .menuList .menuItem:hover {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.8);

}

.menu .menuList .menuItem .foodImage {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    
}

.menu .menuList .menuItem .foodName {
    padding-top: 10px;
}

.menu .menuList .menuItem p.description {
    padding: 5px;
    min-height: 50px;
}

.menu .menuList .menuItem button {
    border: none;
    cursor: pointer;
    margin-right: 5px;
    padding: 10px;
    border-radius: 5px;
    color: wheat;
    background-color: rgb(45, 44, 44);

}

.menu .menuList .menuItem button:hover,
.menu .menuList .menuItem button.active {
    background-color: brown;
    transition: .2s all linear;
}

.menu .menuList .menuItem p.price {
    font-size: 20px;
    padding: 10px;
}

.menu .menuList .menuItem .addToCart {
    display: flex;
    justify-content: center;
    width: 80%;
    background-color: rgb(55, 48, 48);
    text-align: center;
    align-items: center;
    margin: 5px auto;
}


.menuItem::before {
    content: "";
    width: 100%;
    background-color: #423f3f;
    position: absolute;
    top:30%;
    bottom: 100%;
    left: 0;
    z-index: -1;
    transition: .4s all linear;

}

 .menuItem:active::before, .menuItem:hover::before {
    bottom: 0;
    border-bottom: 10px solid #736956;
    transition: .4s all linear;


}

.menu::after{content: ''; display: table; clear: both;}


@media(max-width:1450px) {
    .menu .menuList {
        width: 85vw;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width:1200px) {
    .menu .menuList {
        width: 85vw;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:720px) {

    .menu .menuList .menuItem {
        width: 80vw;
    }

    .menu .menuList {
        width: 95vw;
        grid-template-columns: 1fr;
    }
}